<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Logins" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Urls" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <Logins>
    <add key="UserWithCreatePagePermissionUsername" value="lwalsh"/>
    <add key="UserWithCreatePagePermissionPassword" value="82++lwalsh"/>
    <add key="UserWithoutAccessToTestPageUsername" value="restricted"/>
    <add key="UserWithoutAccessToTestPagePassword" value="82++restricted"/>
  </Logins>
  <Urls>
    <add key="TestSpaceUrl" value="https://mathume.atlassian.net/wiki/display/TEC"/>
  </Urls>
</configuration>